<div class="container__projetos-content">
    <div class="projetos__expo">
        <div class="texto-introdutorio">
            <p>Ao longo de sua trajetória, o BookShire já participou de</p>
            <h2>4 Projetos de Inovação</h2>
        </div>

        <div class="projetos__fotos">
            <div class="row1">
                <app-thumb-projeto id="1"></app-thumb-projeto>
                <app-thumb-projeto id="2"></app-thumb-projeto>
            </div>
            <div class="row2">
                <app-thumb-projeto id="3"></app-thumb-projeto>
                <app-thumb-projeto id="4"></app-thumb-projeto>
            </div>
        </div>
    </div>
</div>

