<div id="container">
    <input type="checkbox" id="ham-input" class="burger-shower"/>
    
    <label id="container__ham-menu" for="ham-input">
      <span class="container__ham-menu"></span>

        <nav class="sidebar-menu">
            <label class="close__sidebar" for="ham-input">X</label>
    
            <h1>Menu</h1>
    
            <ul>
              <li><a href="#container__sobre">Sobre nós</a></li>
              <li><a href="#container__galeria">Galeria</a></li>
              <li><a href="#container__desenvolvedoras">Desenvolvedoras</a></li>
            </ul>
          </nav>
    </label>
</div>
