<div class="container__projeto">
    <div class="projeto__pic">
        <img src="../../../assets/pages/conquistas/fotos/historia/pitch_LigaJovem.jpg" alt="aaaaaaaaaaa">
    </div>
</div>

<app-hr-divisao></app-hr-divisao>

<div class ="container__projeto">
    <div class="projeto__header">
        <h1>Desafio Liga Jovem</h1>

        <div class="projeto__categorias">
            <span id="posicao">Semi Finalistas</span>
            <span id="ano">2022 - 2023</span>
        </div>
    </div>

    <div class="projeto__descricao">
        <p>Alguns meses após nossa participação no Hackathon, o BookShire recebeu uma repaginada e diversas melhorias ao ser inscrito na primeira edição do Desafio Liga Jovem no Brasil. O BookShire foi selecionado como semi-finalista do programa dentre os 600 projetos participantes e nossa equipe apresentou nosso pitch novamente, dessa vez na Faculdade Sebrae.</p>
    </div>

    <div class="projeto__empresas">
        <img src="../../../assets/pages/conquistas/empresas/sebrae.png" alt="aaaa">
        <img src="../../../assets/logos/BookShire-tree.svg" alt="Logo do BookShire">
        <img src="../../../assets/pages/conquistas/empresas/ideias_de_futuro.png" alt="">
    </div>

</div>
