<div class="container__projeto">
    <div class="projeto__pic">
        <img src="{{pic.picUrl}}" alt="aaaaaaaaaaa">
    </div>
</div>

<app-hr-divisao></app-hr-divisao>

<div class ="container__projeto">
    <div class="projeto__header">
        <h1>{{tituloProjeto}}</h1>

        <div class="projeto__categorias">
            <span id="posicao">{{relevancia}}</span>
            <span id="ano">{{ano}}</span>
        </div>
    </div>

    <div class="projeto__descricao">
        <p>{{descricaoProjeto}}</p>
    </div>

    <div class="projeto__empresas">
        <ol>
            <li *ngFor = "let empresa of empresas">
                <img src = "{{empresa.logoUrl}}" alt="{{empresa.nome}}">
            </li>
        </ol>
    </div>

    <div class="projeto__galeria">        

        <img src="../../../assets/pages/conquistas/waves/1st.svg" alt="Background Wave">

        <div class="galeria__background">
            <div class="galeria__texto">
                <h1>GALERIA</h1>

                <ul>
                    <li *ngFor = "let link of links">
                        <a href="{{link['url-link']}}" target="_blank">
                            {{link['titulo-link']}}
                        </a>
                    </li>
                </ul>
            </div>

            <div id="galeria__pitch" [innerHTML] = "pitch"></div>
        </div>
    </div>

</div>
