.container__projeto{
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
}

.projeto__pic {
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
}

.projeto__pic > img{
    border-radius: 20px;
    width: 750px;
    height: 450px;
    object-fit: cover;
}

.projeto__header > h1{
    text-align: center;
    font-size: 50px;
    color: #152139;
}

.projeto__categorias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.projeto__categorias > span{
    padding: 5px 40px;
    border-radius: 20px;

    font-size: 16px;
}

#posicao{
    background-color: #1f3b6f;
    color:#d7deea;
    margin-right: 10px;
}

#ano{
    background-color: #d7deea;
    color:#1f3b6f;
    font-weight: bold;
}

.projeto__titulo-artigo{
    width: 60%;
    margin-top: 40px;
}

.projeto__titulo-artigo > h2{
    font-size: 28px;
    color: #1f3b6f;
}

.projeto__descricao{
    width: 60%;
    margin-top: 25px;
}

.projeto__descricao > p{
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.projeto__empresas{
    margin-top: 50px;
    width: 425px;
}

.projeto__empresas > ol{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    list-style: none;
}

.projeto__empresas > ol > li > img{
    height: auto;
    width: 125px;
}

.projeto__galeria{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.galeria__background{
    padding: 0 100px;
    background-color: #1f3b6f;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.galeria__texto {
    width: 60%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria__texto > h1{
    color: #ff6d1f;
    width: 80%;
    font-size: 45px;
}

.galeria__texto > ul{
    width:60%;
    margin-top: 10px;
    color: #d7deea;
}

.galeria__texto > ul > li{
    margin-top: 15px;
}

.galeria__texto > ul > li > a{
    color: #d7deea;
    font-size: 20px;
}

#galeria__pitch{
    width: 450px;
    height:253px;

    margin-bottom: 40px;
    padding: 10px;
    background-color: #ff6d1f;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 