.card__container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 175px;
    height: 325px;
}

.card__pic > img{
    border-radius: 5%;
    height: 175px;
    width: 175px;
    object-fit: cover;
}

.content {
    display: none;
}

.card__text > h1{  
    color: white;

    margin-top: 10px;
    font-size: 22px;  
    text-align: center;
}

.card__text > p{
    margin-top: 7px;
    color: #d7deea;

    font-size: 20px;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;

    margin-top: 10px;
}

ul > li > a >  img{
    height: 40px;
    width: 40px;
}