@media screen and (max-width:1115px){
    .card__container{
        width: 150px;
        height: 250px;
    }

    .card__pic > img{
        height: 125px;
        width: 125px;
    }

    .card__text > h1{ font-size: 18px; }

    .card__text > p{ font-size: 15px; }

    ul > li > img{
        height: 15px;
        width: 15px;
    }
}  

@media screen and (max-width:500px){
    .card__container{
        width: 125px;
        height: 250px;
    }

    .card__text > h1{ font-size: 18px; }

    .card__text > p{ font-size: 15px; }

    ul > li > a > img{
        height: 35px;
        width: 35px;
    }
}

/* LIVROS FAVORITOS */
@media screen and (min-width:800px){
    .card__pic {    
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    
        padding: 0;
        width: 125px;
        display: block;
        border-radius: 5%;
        overflow: hidden;
    }
    
    .card__pic:hover {
        top:-10px;
    }
    
    .content {
        display: block;
        opacity: 0;
        font-size: 40px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.86);
        height: 125px;
        width: 125px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
    }
    
    .card__pic .content:hover {
        cursor: pointer;
        opacity: 1;
    }
    
    .card__pic .content .text {
        opacity: 1;
        height: 0;
    
        font-size: 14px;
        color:#1f3b6f;
        padding: 0 8px;
    
        transition-delay: 0s;
        transition-duration: 0.4s;
    }
    
    .text > .title {
        font-weight: bold;
        margin-bottom: .75rem;
    }
    
    .card__pic .content:hover .text {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
    }
}

@media screen and (min-width:1115px){
    .card__pic {    
        width: 175px;
    }

    .card__pic .content .text {    
        font-size: 18px;
        padding: 0 10px;
    }

    .content {
        height: 175px;
        width: 175px;
    }

    .card__pic .content:hover .text {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
    }
}