<div class="card__container">
    <div class="card__pic">
        <img src="{{picUrl}}" alt="Foto de {{nome}}">
    </div>

    <div class="card__text">
        <h1>{{nome}}</h1>

        <p>{{cargo}}</p>
    </div>

    <div class="card__socials">
        <ul>
            <li *ngFor= "let social of socials">
                <a href="{{social.redeUrl}}" target="_blank" title="{{social.rede}} de {{nome}}">
                    <img src="{{social.redePicUrl}}" alt="{{social.rede}}">
                </a>
            </li>
        </ul>
    </div>
</div>
