@media screen and (max-width:1125px){
    .home__texto{
        width: 57%;
        padding-left: 50px;
    }

    .texto__title > h1{ font-size: 60px; }

    .texto__subs > p{ font-size: 20px; }

    .home__prototipo{
        width: 40%;
        padding-left: 20px;
    }

    .home__prototipo > img{ height: 500px; }
}
@media screen and (max-width:800px){
    .container__header{
        flex-direction: column;
    }

    .home__texto{
        width: auto;
        padding: 0 50px;
        padding-top: 1rem;
    }

    .texto__title > h1{ font-size: 50px; }

    .texto__subs > p{
        font-size: 20px;
        margin-top: 1rem;
    }
}
@media screen and (max-width:500px){
    .texto__title > h1{ font-size: 30px; }

    .texto__subs > p{
        font-size: 15px;
        margin-top: .75rem;
    }

    .texto__interacoes > button{
        font-size: 16px;

        padding: 5px 20px;
        border-radius: 10px;
    }

} 