.container__header{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.home__texto{
    width: 45%;
    padding-top: 50px;
    padding-left: 80px;
}

.texto__title > h1{
    font-size: 70px;
    color: #1f3b6f;
    text-shadow: 2px 2px 25px #e3e8f193;
}

.texto__subs > p{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 22px;
    font-weight: 400;

    color: #152139;
}

.texto__interacoes > button{
    font-size: 20px;
    
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    background-color: #1f3b6f;
    color:white;
    cursor: pointer;
}

.texto__interacoes > button:hover{
    background-color: #ff6d1f;
}

.home__prototipo{
    margin-top: 0;
    width: 55%;
}

.home__prototipo > img{
    object-fit: cover;
    height: 600px;
    width: fill;
}