@media screen and (max-width:1125px){
    .container__secao{
        border-radius: 20px;
        height: 375px;
        width: 265px;  
    }   
    
    .container__secao::before{
        border-radius: 20px;
        height: 375px;
        width: 265px;
    }
}

@media screen and (max-width:920px){
    .container__secao{
        border-radius: 20px;
        height: 200px;
        width: 500px;  
    }   

    .container__secao:hover{
        top:-10px;
    }
    
    .container__secao::before{
        border-radius: 20px;
        height: 200px;
        width: 500px;
    }

    
}

@media screen and (max-width:645px){
    .container__secao{
        border-radius: 20px;
        height: 175px;
        width: 415px;  
    }   
    
    .container__secao::before{
        border-radius: 20px;
        height: 175px;
        width: 415px;
    }
}

@media screen and (max-width:480px){
    .container__secao{
        border-radius: 20px;
        height: 150px;
        width: 350px;  
    }   
    
    .container__secao::before{
        border-radius: 20px;
        height: 150px;
        width: 350px;
    }
}