.container__secao{
    background-color: var(--bookshire-blue);
    background-size: cover;
    background-position: -15px;
    
    border-radius: 25px;
    height: 500px;
    width: 310px;
    cursor: pointer;

    position:relative;
    top: 0;
    transition: top ease 0.5s;
}

.container__secao:hover{
    top:-20px;
}

.container__secao::before{
    border-radius: 25px;
    content: "";
    position: absolute;
    width: 310px;
    height: 500px;
    background: rgba(181, 208, 248, 0.5); /* Adjust the last value for darkness */
    z-index: 1;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth transition effect */
}

.container__secao:hover::before {
    opacity: 1; /* Make the overlay visible on hover */
}

.secao__titulo{
    margin: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.secao__titulo > p{
    color: white;
    font-size: 18px;
    font-family: Roboto;
}

.ponto{
    background-color: var(--book-orange);
    height: 17px;
    width: 17px;
    border-radius: 4px;
}