.sobre__pesquisa-card{
    width: 75%;
    margin:auto;
    margin-top: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 20px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 39px -25px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 39px -25px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 39px -25px rgba(0,0,0,0.61);
}

.pesquisa__icon > img{
    height:200px;
    width: 200px;
    margin-right: 20px;
}

.pesquisa__text > p{
    text-align: left;
    font-size: 18px;
    color:#152139;
    margin-bottom: 20px;
}

.pesquisa__text > a:hover{
    background-color: #FDA14C;
}

.pesquisa__text > ul{
    margin-top: 20px;
    margin-left: 30px;
    color: #FF6D1F;
    cursor:pointer;
}

.pesquisa__text > ul:hover{
    color: #FDA14C;
}

.pesquisa__text > ul > li > a{
    font-size: 23px;
    font-weight: bold;
    text-decoration: underline;
    color:#FF6D1F;
}

.pesquisa__text > ul > li > a:hover{
    color:#FDA14C;
}


.sobre__escola-citados{
    margin: auto;
    margin-top: 100px;
    width: 425px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#etec{
    width: 125px;
}

#cps{
    width: 100px;
}

#sp{
    width: 150px;
}