<div class="container__sobre">
    
    <div class="sobre__pesquisa-card">
        <div class="pesquisa__icon">
            <img src="../../../assets/icons/icon_Pesquisa.png" alt="Desenho de um caderno de anotações laranja.">
        </div>
    
        <div class="pesquisa__text">
            <p>O BookShire se encontra atualmente em <b>fase de desenvolvimento</b> como <b>Trabalho de Conclusão de Curso (TCC)</b> de uma equipe de 5 alunas do curso Técnico em Desenvolvimento de Sistemas da <b>Etec Abdias do Nascimento</b> em São Paulo, SP.</p>
    
            <ul>
                <li>
                    <a href="https://forms.gle/Soc7oxfqnDJ9ZYJe7" target="_blank">Você pode ajudá-las respondendo esta pesquisa de campo.</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="sobre__escola-citados">
        <img id='etec' src="../../../../assets/pages/conquistas/empresas/etec_escola_tecnica_estadual.png" alt="Logo da Escola Técnica Estadual (ETEC)">
        <img id='cps' src="../../../../assets/pages/conquistas/empresas/centro_paula_souza.png" alt="Logo do Centro Paula Souza (CPS)">
        <img id='sp' src="../../../../assets/pages/conquistas/empresas/governo_de_SP.png" alt="Logo do Governo de São Paulo">
    </div>
    
</div>

