<div class="container__galeria">

    <div class="galeria__topo">
        <div class="galeria__title">
            <div class="texto">
                <h1>Galeria</h1>
                <h3>Confira nossas conquistas e acompanhe a evolução do projeto:</h3>
            </div>
    
            <div class="logo">
                <img src="../../../assets/logos/BookShire-tree.svg" alt="Logo do BookShire">
            </div>
        </div>
    
        <div class="botoes_secao">
            <app-secao-galeria (click)="showMonografia()" titulo="Monografia" ></app-secao-galeria>
            <app-secao-galeria (click)="showDesenvolvimento()" titulo="Desenvolvimento"></app-secao-galeria>
            <app-secao-galeria (click)="showProjetos()" titulo="Projetos"></app-secao-galeria>
        </div>

        <app-hr-divisao></app-hr-divisao>
    </div>

    <div class="conteudo__galeria">
        <app-monografia *ngIf="index_conteudo == '0'"></app-monografia>
        <app-desenvolvimento *ngIf="index_conteudo == '1'"></app-desenvolvimento>
        <app-projetos *ngIf="index_conteudo == '2'"></app-projetos>
    </div>

</div>
