.container__galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute;
    top: 0;
    width: 100%;
    padding-top: 125px;
    background-image: url('../../../assets/pages/galeria/background.svg');
    background-size: cover;
    background-position: center -20px;
    z-index: -1; */
}

.galeria__topo{
    margin-top: 50px;
    background-color: white;
    border-radius: 25px;
    width: 75%;
    padding: 25px 0;
}

.galeria__title{
    margin: 0 50px;
    font-family: Roboto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.galeria__title > .texto > h1{
    color: var(--bookshire-blue);
    font-size: 50px;
    margin-bottom: .75rem;
}
.galeria__title > .texto > h3{
    font-size: 20px;
    font-weight: 400;
}

.logo > img{
    height: 100px;
    width: 100px;
}

.botoes_secao{
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}