@media screen and (max-width:1060px){
    .container__conquista{
        width: 200px;
        height: 275px;
        padding: 15px;
    }

    .conquista__title { width: auto; }
    .conquista__title > h1{ font-size: 30px; }
    .conquista__desc > p{ font-size: 22px; }
}

@media screen and (max-width:800px){
    .container__conquista{
        width: 170px;
        height:200px;
        padding: 10px;
    }

    .conquista__desc{ width: auto; }

    .conquista__title > h1{ font-size: 25px; }
    .conquista__desc > p{ font-size: 20px; }
}

@media screen and (max-width:500px){
    .container__conquista{
        width: 125px;
        height:150px;
    }

    .conquista__desc{ width: auto; }

    .conquista__title > h1{ font-size: 20px; }
    .conquista__desc > p{ font-size: 14px; }
}