.home__background{
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    
}

.home__background > img{
    width: 100%;
}

.home__container{
    font-family: 'Roboto', sans-serif;
}

.container__header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
    padding: 40px 60px;
}

.home__texto{
    width: 45%;
}

.texto__title > h1{
    font-size: 90px;
    color: #1f3b6f;
    text-shadow: 2px 2px 25px #e3e8f193;
}

.texto__subs > p{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 400;

    color: #152139;
}

.texto__interacoes > button{
    font-size: 20px;
    
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: #1f3b6f;
    color:white;
    cursor: pointer;
}

.home__prototipo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__prototipo > img{
    height: 700px;
    width: auto;
}