<div class="home__background">
    <img src="../../../assets/pages/home/background-gradient.svg" alt="background gradient">
</div>

<div class="home__container">
    <app-header></app-header>

    <div class="hr">
        <hr>
    </div>


    <div id="container__sobre">
        <div class="sobre__logo">
            <img src="../../../assets/logos/BookShire-tree.svg" alt="Logo do BookShire">
        </div>

        <div class="sobre__title">
            <h2>O que é o BookShire?</h2>
        </div>

        <div class="sobre__content">
            <p>A alta dos preços dos livros e a escassez de livrarias em algumas regiões vêm dificultando o acesso à literatura para leitores de baixa renda, impactando com maior intensidade os estudantes brasileiros que dependem desses livros.</p>
            <p>Sendo assim, o BookShire surge como uma solução alternativa para o problema, sendo um <b>marketplace de livros usados voltado para leitores, sebos e livreiros de todo o Brasil</b>.</p>
        </div>
    </div>

    <div id="container__galeria">
        <div class="galeria__background">

            <div class="galeria__title">
               <h1>Nossas Conquistas</h1>
            </div>

            <div class="galeria__cards">
                <app-card-conquista
                    id="#"
                    title="Hackathon Abdias"
                    desc="Primeira Aparição do Projeto"
                ></app-card-conquista>

                <app-card-conquista
                    id="#"
                title="Desafio Liga Jovem"
                    desc="Semi Finalistas"
                ></app-card-conquista>

                <app-card-conquista
                    id="#"
                    title="Technovation Girls"
                    desc="Projeto Finalista do Brasil"
                ></app-card-conquista>
            </div>
        </div>

        <img src="../../../assets/pages/home/waves/1st.svg">
    </div>

    <div id="container__desenvolvedoras">

        <div class="desenvolvedoras__background">
           <h1>Conheça as Desenvolvedoras</h1>

            <div class="desenvolvedoras__fotos">
            <app-card-devs
                nome="Evelyn Alves"
                cargo="XXXXXX"
                picUrl="../../../assets/pages/home/devs/evelyn.jpg">
            </app-card-devs>

            <app-card-devs
                nome="Maria Clara Penninck"
                cargo="UI Designer"
                picUrl="../../../assets/pages/home/devs/clara.jpg">
            </app-card-devs>

            <app-card-devs
                nome="Maria Luiza Fernandes"
                cargo="XXXXXX"
                picUrl="../../../../assets/pages/home/devs/malu.jpg">
            </app-card-devs>

            <app-card-devs
                nome="Rayssa Buarque"
                cargo="Desenvolvedora FullStack"
                picUrl="../../../assets/pages/home/devs/rayssa.jpg">
            </app-card-devs>

            <app-card-devs
                nome="Sara Marcelli"
                cargo="XXXXXX"
                picUrl="../../../assets/pages/home/devs/sara.jpg">
            </app-card-devs>

            </div>
        </div>

        <img src="../../../assets/pages/home/waves/2nd.svg">
    </div>

    <div id="container__footer">
        <div class="footer_slogan">
            <p>Por que todos merecemos o <b>direito à leitura</b>.</p>
        </div>

        <div class="footer__socials">
            <img src="" alt="">
            <img src="" alt="">
        </div>
    </div>
</div>

