<div class="home__background">
    <img src="../../../assets/pages/home/background-gradient.svg" alt="background gradient">
</div>

<div class="home__container">

    <div class="home__texto">
        <div class="texto__title">
            <h1>Isso daqui é um exemplo de Texto!</h1>
        </div>
        <div class="texto__subs">
            <p>Acesse já o nosso protótipo:</p>
        </div>
        <div class="texto__interacoes">
            <button>Aqui</button>
        </div>
    </div>

    <div class="home__prototipo">
        <img src="../../../assets/pages/home/prototipo-teaser.gif" alt="Gif demonstrativo do protótipo da plataforma">
    </div>
</div>

