<div class="home__background">
    <img src="../../../assets/pages/home/background-gradient.svg" alt="background gradient">
</div>

<div class="home__container">

    <div class="container__header">
        <div class="home__texto">
            <div class="texto__title">
                <h1>Porque todos merecemos o direito à leitura.</h1>
            </div>
            <div class="texto__subs">
                <p>O BookShire é uma plataforma de vendas, doações e trocas de livros usados que visa facilitar o acesso à literatura.</p>
            </div>
            <div class="texto__interacoes">
                <button>Acesse nosso protótipo!</button>
            </div>
        </div>
    
        <div class="home__prototipo">
            <img src="../../../assets/pages/home/prototipo-teaser.gif" alt="Gif demonstrativo do protótipo da plataforma">
        </div>
    </div>

    <div class="hr">
        <hr>
    </div>


    <div class="container__sobre">
        <div class="sobre__logo">
            <img src="../../../assets/logos/BookShire-tree.svg" alt="Logo do BookShire">
        </div>

        <div class="sobre__title">
            <h2>O que é o BookShire?</h2>
        </div>

        <div class="sobre__content">
            <p>A alta dos preços dos livros e a escassez de livrarias em algumas regiões vêm dificultando o acesso à literatura para leitores de baixa renda, impactando com maior intensidade os estudantes brasileiros que dependem desses livros.</p>
            <p>Sendo assim, o BookShire surge como uma solução alternativa para o problema, sendo um <b>marketplace de livros usados voltado para leitores, sebos e livreiros de todo o Brasil</b>.</p>
        </div>
    </div>

    <div class="container__galeria">
        <div class="galeria__background">
            <img src="../../../assets/pages/home/section-background.svg" alt="Background colorido">
        </div>

        <div class="galeria__title">
            <h1>Nossas Conquistas</h1>
        </div>

        <div class="galeria__cards">
            <app-card-conquista
                id="#"
                title="Hackathon Abdias"
                desc="Primeira Aparição do Projeto"
            ></app-card-conquista>

            <app-card-conquista
                id="#"
                title="Desafio Liga Jovem"
                desc="Semi Finalistas"
            ></app-card-conquista>

            <app-card-conquista
                id="#"
                title="Technovation Girls"
                desc="Projeto Finalista do Brasil"
            ></app-card-conquista>
        </div>

    </div>
</div>

