/*
    FONTE ROBOTO -- font-family: 'Roboto', sans-serif;
    Weight: 300 + italics; 400 + italics
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;

    background-color: rgb(53, 68, 119);
}