/*
    FONTE ROBOTO -- font-family: 'Roboto', sans-serif;
    Weight: 300 + italics; 400 + italics
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --deep-blue: #152139;
    --bookshire-blue: #1F3B6F;
    --book-orange: #FF6D1F;
    --book-clear: #D7DEEA;
}


@media screen and (max-width:500px){
    html{
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,247,240,1) 44%, rgba(227,238,255,1) 100%);
    }
}