<div class="home__background">
    <img src="../../../assets/pages/home/background-gradient.svg" alt="background gradient">
</div>

<div class="menu__container">

    <div class="menu__title"><a href="#">
        <img src="../../../assets/logos/BookShire-tree.svg" alt="BookShire Logo">
        <h1>BookShire</h1>
    </a></div>

    <div *ngIf = "!sanduiche" class="menu__sections">
        <ul>
            <li><a 
                href="#container__sobre" 
                title ="O que é o BookShire?" 
                >Sobre nós</a></li>
            <li><a 
                href="#container__galeria" 
                title ="Nossas Conquistas" 
                >Galeria</a></li>
                <li><a 
                    href="#container__desenvolvedoras" 
                    title ="Sobre as Desenvolvedoras" 
                    >Desenvolvedoras</a></li>
                </ul>
            </div>

    <div *ngIf = "!sanduiche" class="menu__contact-us">
        <a href="#container__footer">Contate-nos</a>
    </div>

    <app-menu-sanduiche *ngIf="sanduiche"></app-menu-sanduiche>
    
</div>
