.card__projeto img{
    width: 325px;
    height: 175px;
    border-radius: 10px;
    object-fit: cover;
}

.card__projeto p{
    font-family: Roboto;
    font-size: 18px;
}

.card__projeto .more{
    margin-top: .75rem;
    font-size: 16px;
    color: var(--book-orange);
}